@charset "utf-8";
/* CSS Document */
.error-message{
color: #900;
font-size: 12px;
font-family: Georgia, "Times New Roman", Times, serif;
}
/* varification CSS*/



.darkbase_bg{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	display:none;
	background-color:#000;
	background:url(../images/bcpng.png) repeat;
	z-index:1000;
}
.alert_yellow ,.alert_green,.alert_pink,.alert_pink2,.alert_blue,.alert_green_no{
	max-width:400px !important;
	margin:0 auto;
	margin-top:250px;
	height:auto;
	padding:10px;
	background:url(../images/alert_bg.png) repeat;
	outline: none;
	/*overflow: hidden;*/
	box-shadow:inset 0 0 2px #B99106;
	-webkit-box-shadow:inset 0 0 5px #B99106;
	-moz-box-shadow:inset 0 0 5px #B99106;	
	position:relative;
}
.alert_green{
	box-shadow:inset 0 0 2px #C6D880;
	-webkit-box-shadow:inset 0 0 5px #C6D880;
	-moz-box-shadow:inset 0 0 5px #C6D880;
	
}
.alert_green_no{
	box-shadow:inset 0 0 2px #C6D880;
	-webkit-box-shadow:inset 0 0 5px #C6D880;
	-moz-box-shadow:inset 0 0 5px #C6D880;
	
}
.alert_pink{
	box-shadow:inset 0 0 2px #FBC2C4;
	-webkit-box-shadow:inset 0 0 5px #FBC2C4;
	-moz-box-shadow:inset 0 0 5px #FBC2C4;
	}
.alert_pink2
{
	box-shadow:inset 0 0 2px #FBC2C4;
	-webkit-box-shadow:inset 0 0 5px #FBC2C4;
	-moz-box-shadow:inset 0 0 5px #FBC2C4;
}
.alert_blue
{
	box-shadow:inset 0 0 2px #6BACDE;
	-webkit-box-shadow:inset 0 0 5px #6BACDE;
	-moz-box-shadow:inset 0 0 5px #6BACDE;
}
.alert_yellow div.pop_text {
	background:url(../images/icon/warning_icon.png) no-repeat left 25%;	
}
.alert_green div.pop_text {
	background:url(../images/icon/success_icon.png) no-repeat left 25%;	
}
.alert_pink div.pop_text {
	background:url(../images/icon/error_msg.png) no-repeat left 25%;	
}
.alert_blue div.pop_text {
	background:url(../images/icon/notice_icon.png) no-repeat left 25%;	
}
.alert_pink2 div.pop_text {
	background:url(../images/icon/error_icon2.png) no-repeat left 25%;	
}
.alert_yellow div.pop_text,.alert_green div.pop_text,.alert_pink div.pop_text,.alert_pink2 div.pop_text,.alert_blue div.pop_text
{
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#555555;
	font-weight:normal;
	line-height:20px;
	padding-bottom:10px;
	padding-left:40px;
	clear:both;	*/
	background: #eaf7d9 url(../images/success.png) no-repeat 10px center;
	border: solid 1px #bbdf8d;
	padding: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	padding-left: 38px;
	padding-right: 50px;
	position: relative;
	max-width: 520px;
	z-index:10;
}
.warn_red{background:#f7d9d9 url(../images/error.png) no-repeat 10px center !important; border:solid 1px #ff9f9f !important; }
.warn_red p{color:#000 !important;}
.alert_yellow div.pop_text h4,.alert_green div.pop_text h4,.alert_pink div.pop_text h4,.alert_pink2 div.pop_text h4,.alert_blue div.pop_text h4
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:#333333;
	line-height:21px;
	background:none !important;
	padding-bottom:7px;
}
.alert_yellow div.pop_text p,.alert_green div.pop_text p,.alert_pink div.pop_text p,.alert_pink2 div.pop_text p,.alert_blue div.pop_text p
{
	font-size:9pt;
	color:#555555;
	line-height:20px;
}
.pop_close
{
	width:7px;
	height:7px;
	float:right;
	right:18px;
	top:28px;
	z-index:11;
	cursor:pointer !important;
	position:absolute;
}






/* varification CSS end*/